<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.thunder2">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <!--지도를 각자의 컴퓨터에서 확인하려면 개인 api키가 있어야 합니다-->

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDcB7hsIL1l_vt4rpUeVyvZviTm14fOm-k"/>   <!--홍유석 api_key-->
            <!--android:value="AIzaSyBHLr6WuXElm5RbH6pV2zRyWB8rhPyzVmM" 현석이형 api_key-->
            />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".aboutContest" />
        <activity android:name=".aboutPC" />
        <activity android:name=".setting" />
        <activity android:name=".setting_market" />
        <activity android:name=".setting_market_manage" />
        <activity android:name=".setting_market_contestManage" />
        <activity android:name=".setting_market_contestManage_correction" />
        <activity android:name=".setting_market_contestManage_addContest" />
        <activity android:name=".list_contest" />
        <activity android:name=".maps"></activity>
    </application>

</manifest>